// Marmalade: an Emacs Lisp package server.
// Copyright (C) 2010 Google Inc.

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.

#start
  span.intro Marmalade is a package archive for Emacs Lisp.
  ul
    li It makes it <strong>easy to distribute packages</strong>.
    li
      | It's <strong>fully compatible</strong> with <code>package.el</code>
      | and <a href="http://tromey.com/elpa/">ELPA</a>.
    li
      | It's <strong>open source</strong>, so you can
      | <a href="http://code.google.com/p/marmalade/">help improve it</a>.
    li It goes <strong>great on toast</strong>.
  span.intro To start using Marmalade,
  ul
    li
      | <a href="http://repo.or.cz/w/emacs.git/blob_plain/HEAD:/lisp/emacs-lisp/package.el">
      |   First install <code>package.el</code></a>.
    li
      | Add to your <code>.emacs</code>:
      | <code class="elisp">(add-to-list 'package-archives '("marmalade" .
      |     <span class="assoc-entry">"http://#{hostname}/packages"</span>))</code>
    li <code>C-x C-e</code> to evaluate it, and you're good to go!
#packages
  a.add(href="/packages/new") Add Package
  table
    tr
      th.name Name
      th.version Version
      th.author Author
    - each package in packages
      tr
        td.name
          a(href="/packages/" + package.name.toLowerCase())= package.name
        td.version= package.version.join('.')
        td.author= authorName(package.headers['author'])
  a.all(href="/packages") All Packages
