#start
  span.intro Jelly is a package archive for Emacs Lisp.
  ul
    li It makes it <strong>easy to distribute packages</strong>.
    li
      | It's <strong>fully compatible</strong> with <code>package.el</code>
      | and <a href="http://tromey.com/elpa/">ELPA</a>.
    li It goes <strong>great on toast</strong>.
  span.intro To start using Jelly,
  ul
    li
      | <a href="http://github.com/technomancy/package.el/raw/master/package.el">
      |   First install <code>package.el</code></a>.
    li
      | Put <code class="elisp">(add-to-list 'package-archives "http://somewhere/packages")</code>
      | in your <code>.emacs</code>.
    li <code>C-x C-e</code> to evaluate it, and you're good to go!
