!!! 5
html(lang="en")
  head
    title Jelly: Spreadable Elisp
    link(rel="stylesheet", type="text/css", href="/stylesheets/screen.css")
  body
    header
      hgroup
        h1 Jelly
        h2 Spreadable Elisp
      nav
        a(href="/login") Sign In
        form(accept-charset="utf-8", action="/search", method="get")
          input(type="search")
    #main
      != body
