// Marmalade: an Emacs Lisp package server.
// Copyright (C) 2010 Google Inc.

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.

p
  | Marmalade is an Emacs Lisp package server that allows authors to easily
  | upload their packages. It follows the protocol expected by
  | <code>package.el</code>, the standard Emacs package manager, and so can be
  | used in conjunction with the <a href="http://elpa.gnu.org/">official GNU
  | repository</a> or the original <a href="http://tromey.com/elpa">ELPA
  | repository</a>.

p
  | The primary goal of Marmalade is to make it easy to distribute Emacs Lisp
  | code. Because Marmalade uses <code>package.el</code>'s package format, it's
  | easy to package existing Elisp code. In addition, anyone can post packages
  | to Marmalade, either <a href="/packages/new">via the website</a> or <a
  | href="/doc-files/api.7.html">via the API</a>.

p
  | Emacs Lisp is unusual in that there's a lot of code out there that is useful
  | but no longer actively maintained. To make this code more widely available,
  | users are encouraged to upload even packages they didn't write (as long as
  | those packages allow redistribution). Marmalade makes it easy to add the
  | original author as an owner should they take an interest in the package.
